body {
    font-family: 'Poppins', sans-serif;
}

#chineseQuotes {
    font-family: 'Lobster Two', cursive;
}

footer { 
    box-shadow: 1px 1px 10px rgb(0, 8, 12);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.hovereffect:hover {
    transform: scale(1.2);
}
